﻿@page



<style>

    body {
        background-color: #A29997;
    }
    .col-6 {
        height: 100px;
        width: 100px;
        overflow: auto;        
        background-color: whitesmoke;
        border-style: hidden;
    }



</style>


<div class="container">
    <div class="row">&nbsp;</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div>
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>

<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


<script>

    var connection = new signalR.HubConnectionBuilder().withUrl("/ChatTest").build();

    
    document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, message) {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var encodedMsg = user + " says " + msg;
        var li = document.createElement("li");
        li.textContent = encodedMsg;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });





    //construction de l'objet de connection


    //var connection = new HubConnectionBuilder()
    //    .configuration(signalR.LogLevel.Trace)
    //    .WithAutomaticReconnect()
    //    .withUrl("/ChatTest")
    //    .Build();

    //HubConnection connection = new HubConnectionBuilder()
    //    .withAutomaticReconnect()
    //    .withUrl("/ChatTest?access_token=", HttpTransportType.WebSockets)
    //    .Build();

    //abonnement pour la reception

    //connection.On("ReceiveMessage", receivedMessage);


    //connection.on("ReceiveMessage", displayMessage);
    //function displayMessage(user, message) {
    //    var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
    //    var encodedMsg = user + " says " + msg;
    //    var li = document.createElement("li");
    //    li.textContent = encodedMsg;
    //    document.getElementById("messagesList").appendChild(li);
    //}


    //async function SendMessage(user, message) {
    //    await connection.invoke("SendMessage", user, message)
    //        .then(function () { console.log("Message envoyé"); })
    //        .catch(function (err) {
    //            return console.error(err.toString());
    //        });
    //}

    //le start

    //async function start() {
    //    await connection.start()
    //        .then(function () {
    //            document.getElementById("sendButton").disabled = false;
    //            displayMessage("SendMessage", "envoi");
    //        }
    //        )
    //        .catch(function (error) { console.log(error); })
    //}

</script>